<!DOCTYPE html>
<html>
    <body>
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>
